
name: Build

on:
  push:
    # Always build when there are new commits to master
    branches:
      - master

    # Always build release-tags
    tags:
      - 'releases/**'

jobs:
  avoid-concurrent-invocations:
    timeout-minutes: 240
    runs-on: ubuntu-latest
    steps:
      - name: Turnstyle
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  start-agents:
    needs: [ avoid-concurrent-invocations ]
    name: "Start build agents"
    runs-on: ubuntu-latest
    steps:
      - run: curl ${{ secrets.WATCHDOG_TRIGGER_URL }}

  build-win64:
    needs: [ avoid-concurrent-invocations ]
    name: "Build for Win64"

    runs-on: engine_build_agent

    timeout-minutes: 240

    steps:

      - name: Check out repository
        uses: actions/checkout@v2
        with:
          clean: false
          submodules: 'recursive'
          token: ${{ secrets.ENGINE_GITHUB_PAT }}

      - name: Fetch git repo dependencies
        run: cd UE4; .\Engine\Binaries\DotNET\GitDependencies.exe --force

#      - name: Build Engine (Win64)
#        run: .\Scripts\Windows\BuildEngine.ps1

      - name: Setup credentials for engine cloud storage
        run: $env:GCP_ENGINE_BUILD_AGENT_CREDENTIALS | Out-File UploadUE4\service-account-credentials.json -Encoding ASCII
        env:
          GCP_ENGINE_BUILD_AGENT_CREDENTIALS: ${{ secrets.GCP_ENGINE_BUILD_AGENT_CREDENTIALS }}

      - name: Upload engine as engine-${{ github.sha }}-win64
        run: .\UploadUE4\UploadUE4.ps1 -BuildId ${{ github.sha }}

  stop-agents:
    needs: [ build-win64 ]
    name: "Stop build agents"
    runs-on: ubuntu-latest
    steps:
      - run: curl ${{ secrets.WATCHDOG_TRIGGER_URL }}
